.chart-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #0071bd;
}
.chart-title {
    color: #0071bd;
}
.price-container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.price-change {
    font-weight: 900;
}
.current-price{
    margin-top: 0px;
    font-weight: 900;
}