.coin-value-statistics-heading p {
    font-size: 1rem;
    opacity: 0.9;
}
.coin-details-heading {
    font-weight: 700;
    margin-top: 20px;
}
.coin-stats {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;
}
.coin-stats-name {
    display: flex;
    gap: 10px;
    font-size: 1rem;
}
.stats {
    font-weight: 800;
}
.coin-stats:hover {
    background-color: #fff;
}